/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.button{
 -fx-padding: 0.7em 0.57em;


    -fx-background-color: rgb(0,98,132);
  
    -fx-text-fill: WHITE;
}

.table-view .table-row-cell {

    -fx-background-insets: 0;

}
.table-view .table-row-cell .table-cell {

    -fx-border-width: 0px;

}
/**
*表格边框颜色
*/
.table-view *.column-header-background { /* FX theme stylesheet */

-fx-background-color: #33A6B8;

-fx-background-insets: 0px, 0px;

}
/**
 * 表头背景颜色变化
 */
.table-column .label{
    -fx-background-color: #0089A7;
    -fx-text-fill: white ;
    -fx-text-alignment: center ;
    -fx-graphic-text-gap:0;

}
/**
 * 调节padding
 */
.table-column{
    -fx-padding:0;
}
.table-view:row-selection .column-header-background .filler{
    visibility: false;
    -fx-background-color: #5f93e7;
}